/*Basic stuff:*/

@font-face {
	font-family: 'JCode';
	font-weight: normal;
	font-style: normal;
	src: url('../files/junicode/fonts/Junicode.woff');
}
@font-face {
	font-family: 'JCode';
	font-weight: bold;
	font-style: normal;
	src: url('../files/junicode/fonts/Junicode-Bold.woff');
}
@font-face {
	font-family: 'JCode';
	font-weight: normal;
	font-style: italic;
	src: url('../files/junicode/fonts/Junicode-Italic.woff');
}
@font-face {
	font-family: 'JCode';
	font-weight: bold;
	font-style: italic;
	src: url('../files/junicode/fonts/Junicode-BoldItalic.woff');
}

body {
	background: #77CC77;
	font-family: 'JCode', serif;
	color: #236632;
	-moz-font-feature-settings: "onum" 1, "ss02" 1, "dlig" 1;
}
h1 {
	font-size: 3em;
	text-align: center;
	line-height: 1;
}
h2 {
	font-size: 1em;
	text-align: center;
	line-height: 1;
	color: #22BB22;
}
h3 {
	font-size: 1.5em;
}
*:lang(x-XX-jt) {
	color: #236632!important;
}
dfn {
	font-style: normal;
}
.def {
	color: #008813!important;
}
a {
	text-decoration: none;
	color: #226622;
}
a:hover {
	color: #449944;
}
*.mainbody p {
	text-align: justify;
	-moz-text-align-last: center;
}
*.mainbody dt {
	color: green;
	text-decoration: underline;
}
*.mainbody dd {
	text-align: justify;
	-moz-text-align-last: center;
	color: #668877;
}
*.mpl {
	color: #6B6F63;
	font-style: italic;
}


/*Top banner styling*/
*.topcontainer {
	position: absolute;
	width: 100%;
	left: 0%;
	height: 200px;
	background: #259535;
	top: 0%;
	border-bottom: thin solid #003000;
	resize: vertical;
}
*.topbanner {
	position: absolute;
	height: 175px;
	background: #AAFFAA;
	top: 12.5px;
	left: 12.5%;
	right: 12.5%;
}
*.toptext {
	position: absolute;
	-moz-columns: 2;
	-moz-column-fill: balance;
	-moz-column-gap: 310px;
	left: 0%;
	top: 0%;
	right: 0%;
	bottom: 0%;
	padding: .8em;
	text-align: center;
	line-height: 1.8;
}
*.topsvg {
	width: 310px;
	height: 175px;
	margin: auto;
}
svg {
	position: absolute;
	stroke: #057505;
}
*.topsvg #textbox {
	width: 220px;
	position: absolute;
	padding-left: 45px;
	padding-right: 45px;
}
h2 {
	-moz-animation-duration: 2s;
	-moz-animation-name: pulse;
	-moz-animation-iteration-count: infinite;
}
@-moz-keyframes pulse {
	from {
		font-size: 1em;
	}
	50% {
		font-size: 1.2em;
	}
	to {
		font-size: 1em;
	}
}


/*Sidebar styling*/
*.sidecontainer{
	position: absolute;
	top: 210px;
	bottom: 10px;
	width: 35%;
	left: 0%;
}
*.sidebar{
	position: absolute;
	height: 92.5%;
	left: 5%;
	right: 5%;
	border: 5px solid #007700;
	background: #AAFFAA;
	padding: 5%;
	overflow: auto;
}
*.pro {
	font-size: 90%;
}


/*Main table styling*/
*.mainbody {
	margin-top: 210px;
	margin-left: 37.5%;
	margin-right: 2.5%;
	margin-bottom: 10px;
	color: #666600;
	position: absolute;
	top: 0px;
	bottom: 0px;
	overflow-y: auto;
	border: 3px solid #007700;
	background: #99ee99;
	padding-left: .2em;
	padding-right: .2em;
}
table{
	background: #123321;
	width: 100%;
}
.sel {
	background: #123321;
	height: 1.8em;
	text-align: right;
	-moz-columns: 2;
}
select {
	width: 50%;
	margin-left: 0%;
	margin-right: 50%;
}
#cc {
	background: #003300;
	font-size: 85%;
}
td:hover {
	background: #BBFFBB;
}
td {
	border: thin solid #055505;
	padding-right: .8em;
	padding-left: .8em;
}
tr {
	background: #88CC88;
}
tr:hover {
	background: #AADFAA;
}
col:first-child {
	width: 15%;
	height: 100%;
}
col:nth-child(2) {
	width: 45%;
}
col:last-child {
	width: 40%;
}
*.header {
	background: none!important;
}
*.header td {
	text-decoration: underline;
	color: #33CC33;
	border: none!important;
	background: none!important;
}
thead tr {
	background: none!important;
	text-decoration: underline;
	color: white;
}
*.empty {
	background: none!important;
	border: none;
	height: .2em;
}